@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-repeat: no-repeat;
    background-image: url(./images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    padding: 3em;
}

.logo {
    margin: 3em 0;
    width: 15vw;
}

main {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}

input {
    background-color: hsl(300, 69%, 71%);
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(327, 88%, 50%); 
}