@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-repeat: no-repeat;
    background-image: url(./images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    padding: 1em 3em;
}

.logo {
    margin: 2em 0;
    width: 15vw;
}

.ilustrativo {
    width: 145vw;
    height: 80vh;
    margin-top: 3em;
}

main {
    display: flex;
    gap: 1.5em;
}

div {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}

input {
    background-color: hsl(300, 69%, 71%);
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 30px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    box-shadow: 10px 5px 5px hsl(257, 48%, 32%);
}

input:hover {
    background-color: #FFFFFF;
    color: hsl(257, 40%, 49%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(327, 88%, 50%); 
}