@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-repeat: no-repeat;
    background-image: url(./images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    padding: 1em 2em;
}

.logo {
    margin: 2em 0;
    width: 15vw;
}

.ilustrativo {
    width: 140vw;
    height: 80vh;
    margin-top: 3em;
}

main {
    display: flex;
    gap: 1.5em;
}

div {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    padding: 70px 0 0 20px;
}

input {
    background-color: #FFFFFF;
    color: hsl(252, 17%, 49%);
    font-family: 'Open Sans', sans-serif;
    padding: 15px 50px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    box-shadow: 10px 5px 5px hsl(257, 48%, 32%);
    font-weight: bold
}

input:hover {
    background-color: hsl(300, 69%, 71%);
    color: #FFFFFF;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(327, 88%, 50%); 
}

.redes {
   padding-top: 0;
   text-align: right;
}

@media screen and (min-width: 375px) and (max-width: 600px) {
    body {
        background-image: url(./images/bg-mobile.svg);
    }

    .ilustrativo {
        width: 80vw;
        height: 30vh;
        margin-top: 1em;
    }
    
    main {
        display: inline;
        text-align: center;
    }
}